html {
  font-family: Helvetica, Arial, sans-serif;
}

p {
  margin: 0 0 10px 0;
}

#slides-common {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 20px;
}

#logo {
  position: absolute;
  bottom: 40px;
  left: 40px;
  transition: opacity 0.3s;
}

#logo img {
  width: 70px;
}

#logo:hover {
  opacity: 0.5;
}

/* DOWNLOAD BTN */

#btn-download {
  position: relative;
  padding: 12px 30px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #000;
  font-weight: 600;
  font-size: 14px;
  transition: 300ms ease-out;
  width: 100%;
  width: 100%;
  display: block;
  box-sizing: border-box;
  text-align: center;
}

@media (min-width: 667px) {
  #btn-download {
    position: absolute;
    right: 40px;
    top: 40px;
    width: auto;
  }
}

#btn-download:hover {
  color: #fff;
  background-color: #000;
}

/* SLIDE CONTAINER */

.slide .container {
  position: absolute;
  display: none;
  left: 40px;
  top: 40px;
  display: none;
}

@media (min-width: 667px) {
  .slide .container {
    display: block;
  }
}

.slide .content {
  margin-left: 20px;
  font-size: 20px;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in, -webkit-transform 1s;
     -moz-transition: opacity 1s ease-in, -moz-transform 1s;
      -ms-transition: opacity 1s ease-in, -ms-transform 1s;
       -o-transition: opacity 1s ease-in, -o-transform 1s;
          transition: opacity 1s ease-in, transform 1s;

  -webkit-transform: translate3d(40px, 0, 0);
     -moz-transform: translate3d(40px, 0, 0);
      -ms-transform: translate3d(40px, 0, 0);
       -o-transform: translate3d(40px, 0, 0);
          transform: translate3d(40px, 0, 0);
}

@media (min-width: 667px) {
  .slide .content {
    font-size: 24px;
    width: 350px;
    margin-left: 40px;
  }
}

.slide.flex-active-slide .content {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slide .line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in;
     -moz-transition: opacity 1s ease-in;
      -ms-transition: opacity 1s ease-in;
       -o-transition: opacity 1s ease-in;
          transition: opacity 1s ease-in;
}

.slide.flex-active-slide .line {
  opacity: 1;
}

.slide .line:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 200%;
  border-left: 6px solid #000;
}

@media (min-width: 667px) {
  .slide .line:before {
    border-left: 12px solid #000;
  }
}

/* ARROWS */
.slides-navigation a {
  z-index: 100;
  position: absolute;
  top: 50%;
}

.slides-navigation .next {
  right: 0;
}
.slides-navigation .prev {
  left: 0;
}

i.arrows {
  background-image: url("../images/arrows.png");
  background-size: 24px 106px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 52px;
  width: 23px;
  transition: 300ms ease-out;
  opacity: 0.4;
}

i.arrows:hover {
  opacity: 1;
}

i.arrows.arrow-right {
  background-position: 0 -53px;
  margin-right: 10px;
}

i.arrows.arrow-left {
  background-position: 0 0;
  margin-left: 10px;
}
